<!DOCTYPE html>
<html lang="el">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title ? `${title} | ${site.newsletterName}` : site.newsletterName %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>

